.elf-lib-demo {
  padding: 20px;
  background-color: #fff;
}

.demo-wrapper {
  min-width: 520px;
  margin: 20px auto;
}

.item {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  background: skyblue;
}
